

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


body{
  overflow-x: hidden;
}

.event-title {
  text-align: center; /* Center the text horizontally */
  margin-top: 2rem; /* Add some top margin for spacing */
  font-size: 3.5rem; /* Adjust the font size as needed */
   /* Change the text color if desired */
  /* Add any other styles you want for the h2 element */
}

.event-subtitle{
  text-align: center; /* Center the text horizontally */
  margin-top: 2rem; /* Add some top margin for spacing */ 
  font-size: 2rem;
}

/* body {
  background-color: #eeeeea;
} */


.committee_heads, .marketing, .treasurers, .social_heads, .op_heads, .design_heads, .content_prod, .content_writing, .tech_heads, .pr_and_spons{
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 1.5rem auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  align-items: flex-end;
  background-size: cover;
  border-radius: .75rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  display: flex;
  margin: 0.5rem;
  height: 400px;
  width: 250px;
  background-position: center;
}
  
  .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }

  .card > .row > .icon {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .icon>a>img{
    width: 2.5rem;
    object-fit: cover;
    height: 2.5rem;
    margin: 0 auto;
  }

  .icon>a>img:hover{
    scale: 1.1;
    transition: 250ms;
  }
  
  .card > .row > .description {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    width: fit-content;
    align-items: center;
  }
  
  .description p {
    font-family: 'Poppins', sans-serif;
    color: #00FFFF;
    text-shadow: -1px 1px 2px black;
    border-radius: 2rem;
    padding: 0.25rem 0.35rem;
  }
  
  
  .description h4 {
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: -1px 1px 3px black;
  }

  .card[for="c1"] {
    background-image: url('../Team/Rishi_Patil.png');
  }
  
  .card[for="c2"] {
    background-image: url('../Team/raghav_korde.jpg');
  }
  
  .card[for="c3"] {
    background-image: url('../Team/Aashish.jpg');
  }
  
  .card[for="c4"] {
    background-image: url('../Team/Mohd_Owais_Sheikh.jpg');
  }

  .card[for="c5"]{
    background-image: url('../Team/Shashank_Dhurwey.jpg');
  }
  
  .card[for="c6"]{
    background-image: url('../Team/Vedank_Gaikwad.jpg');
  }
  
  .card[for="c7"]{
    background-image: url('../Team/Tanaya.jpg');
  }
  
  .card[for="c8"]{
    background-image: url('../Team/Aaron_Augustine.jpg');
  }
  
  .card[for="c9"]{
    background-image: url('../Team/Aom.jpeg');
  }
  .card[for="c10"]{
    background-image: url('../Team/Keyur_Doshi.jpeg');
  }
  
  .card[for="c11"]{
    background-image: url('../Team/Akshay_Potkhule.jpg');
  }
  
  .card[for="c12"]{
    background-image: url('../Team/Nikhil_Soni.jpg');
  }
  
  .card[for="c13"]{
    background-image: url('../Team/Rushi_Jani.jpg');
  }
  
  .card[for="c14"]{
    background-image: url('../Team/Akshada.jpg');
  }
  
  .card[for="c15"]{
    background-image: url('../Team/Aayush_Deshpande.jpg');
  }
  
  .card[for="c16"]{
    background-image: url('../Team/Amisha_Sane.jpg');
  }
  
  .card[for="c17"]{
    background-image: url('../Team/Mohd_Owais_Sheikh.jpg');
  }
  
  .card[for="c18"]{
    background-image: url('../Team/Aashish.jpg');
  }
  
  .card[for="c19"]{
    background-image: url('../Team/Tanushri_Warade.jpg');
  }
  
  .card[for="c20"]{
    background-image: url('../Team/Priyanka_Kamble.jpg');
  }
  
  .card[for="c21"]{
    background-image: url('../Team/Aryan.jpg');
  }
  
  .card[for="c22"]{
    background-image: url('../Team/Sailie_Ghole.jpg');
  }
  
  .card[for="c23"]{
    background-image: url('../Team/Rushabh_Shah.jpg');
  }


  
  
  
  
  