

  *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  .event-title {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    font-size: 50px; /* Adjust the font size as needed */
     /* Change the text color if desired */
    /* Add any other styles you want for the h2 element */
  }
  
  /* body {
    background-color: #eeeeea;
  } */
  
<<<<<<< HEAD
  
  .committee_heads, .marketing, .treasurers, .social_heads, .op_heads, .design_heads, .content_prod, .content_writing, .tech_heads, .pr_and_spons{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 1.5rem auto;
=======
  .wrapper {
>>>>>>> 062a5e4adfcfe58a1ee5aa3ceb130c5df4cebac0
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
    height: 400px;
    justify-content: flex-start;
  }
  
  .card {
    align-items: flex-end;
    background-size: cover;
    border-radius: .75rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    cursor: pointer;
    display: flex;
    margin: 0 10px;
    overflow: hidden;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    width: 80px;
  }
  
  .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .card > .row > .icon {
    align-items: center;
    background: #223;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 50px;
  }
  
  .card > .row > .description {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    transform: translateY(30px);
    transition: all .3s ease;
    transition-delay: .3s;
    width: 520px;
  }
  
  .description p {
    color: #b0b0ba;
    padding-top: 5px;
  }
  
  .description h4 {
    text-transform: uppercase;
  }
  
  input {
    display: none;
  }
  
  input:checked + label {
    width: 600px;
  }
  
  input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  
  .card[for="c1"] {
    background-image: url('./centenary.png');
  }
  
  .card[for="c2"] {
<<<<<<< HEAD
    background-image: url('../Team/raghav_korde.jpg');
=======
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/first-day-of-winter-solstice-2021-1638278570.jpg?crop=0.8337777777777778xw:1xh;center,top&resize=1200:*');
>>>>>>> 062a5e4adfcfe58a1ee5aa3ceb130c5df4cebac0
  }
  
  .card[for="c3"] {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/first-day-of-winter-solstice-2021-1638278570.jpg?crop=0.8337777777777778xw:1xh;center,top&resize=1200:*');
  }
  
  .card[for="c4"] {
<<<<<<< HEAD
    background-image: url('../Team/Mohd_Owais_Sheikh.jpg');
  }

  .card[for="c5"]{
    background-image: url('../Team/Shashank_Dhurwey.jpg');
  }
  
  .card[for="c6"]{
    background-image: url('../Team/Vedank_Gaikwad.jpg');
  }
  
  .card[for="c7"]{
    background-image: url('../Team/Tanaya.jpg');
  }
  
  .card[for="c8"]{
    background-image: url('../Team/Aaron_Augustine.jpg');
  }
  
  .card[for="c9"]{
    background-image: url('../Team/Aom.jpeg');
  }
  .card[for="c10"]{
    background-image: url('../Team/Keyur_Doshi.jpeg');
  }
  
  .card[for="c11"]{
    background-image: url('../Team/Akshay_Potkhule.jpg');
  }
  
  .card[for="c12"]{
    background-image: url('../Team/Nikhil_Soni.jpg');
  }
  
  .card[for="c13"]{
    background-image: url('../Team/Rushi_Jani.jpg');
  }
  
  .card[for="c14"]{
    background-image: url('../Team/Akshada.jpg');
  }
  
  .card[for="c15"]{
    background-image: url('../Team/Aayush_Deshpande.jpg');
  }
  
  .card[for="c16"]{
    background-image: url('../Team/Amisha_Sane.jpg');
  }
  
  .card[for="c17"]{
    background-image: url('../Team/Mohd_Owais_Sheikh.jpg');
  }
  
  .card[for="c18"]{
    background-image: url('../Team/Aashish.jpg');
  }
  
  .card[for="c19"]{
    background-image: url('../Team/Tanushri_Warade.jpg');
  }
  
  .card[for="c20"]{
    background-image: url('../Team/Priyanka_Kamble.jpg');
  }
  
  .card[for="c21"]{
    background-image: url('../Team/Aryan.jpg');
  }
  
  .card[for="c22"]{
    background-image: url('../Team/Sailie_Ghole.jpg');
  }
  
  .card[for="c23"]{
    background-image: url('../Team/Rushabh_Shah.jpg');
  }


=======
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/first-day-of-winter-solstice-2021-1638278570.jpg?crop=0.8337777777777778xw:1xh;center,top&resize=1200:*');
  }
>>>>>>> 062a5e4adfcfe58a1ee5aa3ceb130c5df4cebac0
  
  
  
  
  